@charset "utf-8";
/* CSS Document */

body {

    height: 100%;   
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: #E3E0E0;
}

.subheader {
	
	font-size: 10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #7375BD;
}

.quoted {
	font-style: oblique;
	color: #7F9EA4;
}